.cardinvalid{
    height: 500px;
    background: url("../images/body_bg.gif") repeat-x left -75px;
}

.cardinvalid_msgbox{
    width: 500px;
    min-height: 110px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.cardinvalid_msgbox td{
    font: normal 16px/30px arial, sans-serif;
}
.cardinvalid_msg{
    width: 400px;
    height: 80px;
    float: left;
}
.tdwidth400{
    width: 400px;
}
.tdwidth80{
    width: 80px;
}
.tdheight30{
    height: 30px;
}
.cardinvalid_button{
    width: 100px;
    height: 25px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    background-image:-moz-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-webkit-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-o-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-ms-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC' );
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC')";
    cursor: pointer;
    font: bold 13px/25px Arial, sans-serif;
}
.cardinvalid_button:hover{
    background-image:-moz-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-webkit-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-o-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-ms-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#FAFDFF', endColorstr='#A4DBFA' ,);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#FAFDFF', endColorstr='#A4DBFA')";
    border: 1px solid #72C0EA;
}
