body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
html,div,ul,p,h1,h2,h3,h4,h5,h6,td,input{
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    margin: auto;
}

.hide{
    display: none;
}

.show{
    display: inline;
}

.pointer{
    cursor: pointer;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.fontsize0{
    font-size: 0;
}
.fontcolorred{
    color: red;
}
.input-row-info{
    width: 290px;
    height: 25px;
    margin-bottom: 10px;
}
.input-row-info label{
    min-width: 100px;
    width: auto !important;
    font: bold 14px/25px arial,sans-serif;
    color: black;
    display: inline-block;
}
.btn-area{
    min-height: 25px;
    margin: 20px 0 20px 0;
    padding: 20px 10px 0 0;
    border-top: 1px solid #dedede;
}
.common-btn{
    float: right;
    min-width: 70px;
    width: auto !important;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    background-image:-moz-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-webkit-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-o-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-ms-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC' );
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC')";
    cursor: pointer;
    font: bold 13px/25px Arial, sans-serif;
}
.common-btn:hover{
    background-image:-moz-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-webkit-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-o-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    background-image:-ms-linear-gradient(#FAFDFF 0%,#C5E7FC 40%,#A4DBFA 55%,#94DBFB 60%,#AEE5FD 80%,#C8EFFE 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#FAFDFF', endColorstr='#A4DBFA' ,);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#FAFDFF', endColorstr='#A4DBFA')";
    border: 1px solid #72C0EA;
}
/*-----------------------------顶部样式 start-------------------------------*/
.header{
    position: relative;
    min-height: 80px;
    height: auto !important;
}
.tools{
    width: 300px;
    height: 30px;
    font: normal 12px/30px arial,sans-serif;
    margin: 5px 10px 0 0;
    float: right;
}
.tools div{
    margin: 0 0 0 5px;
}
.logo{
    width: 500px;
    height: 80px;
    margin: 0 0 0 10px;
    background: url("../images/logo.jpg") no-repeat left center;
    float: left;
}
.lang{
    float: right;
}
.help{
    width: 40px;
    height: 30px;
    float: right;
}
.help a{
    width: 40px;
    height: 30px;
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.help a:hover{
    color: #55BBFF;
}
.login-info{
    float: right;
}
.login-info span{
    min-width: 40px;
    text-align: center;
    display: inline-block;
}
.login-info:hover{
    color: #55BBFF;
}

.info{
    min-width: 35px;
    height: 32px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.info li{
    list-style: none;
}
.info-img{
    min-width: 35px;
    height: 32px;
    float: right;
}
/*-----------------------------顶部样式 end-------------------------------*/


/*-----------------------------主体样式 start-------------------------------*/
.content{
    height: auto !important;
    min-height: 500px;
    margin-bottom: 5px;
    background-color: white;
}

.content-top{
    width: 960px;
    height: 40px;
}

.content-left{
    width: 240px;
    min-height: 450px;
    height: auto !important;
    //background-color: pink;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
}

.content-right{
    width: 718px;
    min-height: 450px;
    height: auto !important;
    border-left: 1px solid #dedede;
    float: right;
    margin-top: 5px;
}

.content-box{
    height: auto;
    margin: 5px 0 0 10px;
    overflow: hidden;
}
.main-title{
    position: relative;
    width: 690px;
    padding: 5px 0 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
}
#main-title h1{
    float: left;
    font: bold 24px/30px arial,sans-serif;
    color: #12a5d6;
}
.main-content{
    width: 600px;
    min-height: 400px;
    height: auto !important;
    margin: 25px auto;
}
.main-content table{
    font: normal 12px arial,sans-serif;
}
.main-content table tr{
    height: 32px;
}
/*-----------------------------主体样式 end-------------------------------*/


/*-----------------------------主菜单 start-------------------------------*/
.menu-main{
    width: 960px;
    height: 40px;
    background-image: url(../images/mainmenu-bg.gif);
}
.menu-main li{
    list-style: none;
}
.menu-main-item{
    min-width: 100px;
    width: auto !important;
    height: 40px;
    float: left;
}
.menu-main-item-split{
    min-width: 3px;
    width: auto !important;
    height: 40px;
    background: url(../images/split-line.gif) no-repeat center center;
    float: right;
}
.menu-main-item a{
    min-width: 97px;
    width: auto !important;
    padding: 0 5px 0 5px;
    text-align: center;
    font: 18px/40px arial,sans-serif;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.menu-main-item a:hover{
    background: url(../images/mainmenu-hover.gif);
}

.menu-main-item a.click{
    background: url(../images/mainmenu-select.gif);
}
/*-----------------------------主菜单 end-------------------------------*/


/*-----------------------------子菜单 start-------------------------------*/
.menu-left{
    width: 230px;
    height: auto !important;
    min-height: 400px;
}

.menu-left ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu-left li{
    list-style: none;
}

.menu-left-item{
    width: 230px;
    min-height: 27px;
    //line-height: 27px;
    //font-family: sans-serif;
    margin-bottom: 3px;
}

.nosubmenu{
    background: url("../images/menu-left.gif") no-repeat left 0;
}

.nosubmenu a{
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font: bold 13px/27px arial, sans-serif;
}

.nosubmenu.click{
    background: url("../images/menu-left.gif") no-repeat left -60px;
}

.submenu{
    background: url("../images/menu-left.gif") no-repeat left -90px;
}
.submenu span{
    margin: 0 0 0 10px;
    color: black;
    font: bold 13px/27px arial, sans-serif;

}
.submenu.click{
    background: url("../images/menu-left.gif") no-repeat left -120px;
}

.submenu-item{
    margin-bottom: 0px;
    background: #D2D2D2;
}
.submenu-item a{
    width: 100%;
    height: 100%;
    margin: 0 0 0 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font: normal 12px/24px arial, sans-serif;
}
.submenu-item.active{
    background: #7FD6FC;
}
.submenu-item.click{
    background: #01c3ff url("../images/menuleft-click.gif") no-repeat 5px 50%;
}
.submenu-item.click a{
    color: white;
}
.submenu-item.active a{
    color: black;
}
/*-----------------------------子菜单 end-------------------------------*/

/*-----------------------------底部 start-------------------------------*/
.footer{
    position: relative;
    width: 960px;
    min-height: 30px;
    height: auto !important;
    border-top: 1px solid #dedede;
}
.privacy-policy{
    width: auto !important;
    min-width: 100px;
    position: absolute;
    left: 0;
    display: inline-block;
}
.privacy-policy a{
    width: 100%;
    height: 100%;
    font: 14px/24px arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #7b7b7b;
    display: inline-block;
}
.privacy-policy a:hover{
    color: #55BBFF;
}

.copyright{
    width: 400px;
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -200px;
}
.copyright span{
    font: 14px/24px arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #7b7b7b;
    display: inline-block;
}
.opensource{
    min-width: 140px;
    width: auto !important;
    position: absolute;
    right: 0px;
    display: inline-block;
}
.opensource a{
    font: 14px/24px arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #7b7b7b;
    display: inline-block;
}
.opensource a:hover{
    color: #55BBFF;
}
/*-----------------------------底部 end-------------------------------*/
.mask{
    z-index: 1000;
    background: rgba(183, 183, 183, 0.5);;
    position: absolute;
    top: 0;
    left: 0;
}

.pop-window{
    width: 400px;
    height: 200px;
    //background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -250px;
}

#diatitle{
    float: left;
}
#diaclose{
    float: right;
}
#diatitle span{
    color: white;
    font: 16px/21px arial, sans-serif;
}
.login-input{
    padding: 30px 0 0 60px;
}
.login-error-tips{
    text-align: left;
    color: red;
    font-size: 15px;
}

.user-login{
    width: 340px;
    height: 110px;
    font-family: sans-serif;
    font-size: 13pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -170px;
}

.user-input{
    width: 260px;
    height: 70px;
    float: left;
}

.user-input-name, .user-input-pw{
    width: 150px;
    height: 18px;
    margin: 0 0 0 5px;
}

.login-btn {
    width: 60px;
    height: 55px;
    font-size: 14pt;
}

.login-tips1{
    font-size: 14pt;
    font-family: sans-serif;
}

#dialog{
    position: absolute;
    min-width: 400px;
    width: auto !important;
    min-height: 200px;
    height: auto !important;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background-color: white;
    border-left: 4px solid #7b7b7b;
    border-bottom: 4px solid #7b7b7b;
    border-right: 4px solid #7b7b7b;
    border-radius: 4px 4px 4px 4px;
}
#dialoghead{
    height: 30px;
    padding: 5px 5px 0 5px;
    background-color: #7b7b7b;
}
#diatitle{
    float: left;
}
#diaclose{
    float: right;
}
#diatitle span{
    color: white;
    font: 16px/21px arial, sans-serif;
}
#dialogbody{
    min-width: 400px;
    width: auto !important;
    min-height: 100px;
    height: auto !important;
}
#dialogbottom{
    margin: 20px 40px 20px 40px;
}
#waitingdialog{
    width: 300px;
    padding: 50px 0 0 60px;
}
#waitingimg{
    float: left;
    min-width: 50px;
    min-height: 50px;
    margin: 0 10px 0 0;
    background: url(../images/waiting.gif) no-repeat center;
}
#waitingmsg{
    float: left;
    width: 240px;
    min-height: 50px;
    display: table;
}
#waitingmsg span{
    display: table-cell;
    vertical-align: middle;
    font: normal 14px/20px arial,sans-serif;
}
#resultdialog{
    width: 300px;
    padding: 50px 0 0 60px;
}
#resultmsg {
    float: left;
    width: 240px;
    min-height: 50px;
    display: table;
}
#resultmsg span{
    display: table-cell;
    vertical-align: middle;
    font: normal 14px/20px arial,sans-serif;
}
#confirmdialog{
    width: 300px;
    padding: 30px 50px 0 50px;
}
#confirmmsg{
    padding: 0 10px 0 10px;
    min-height: 50px;
    font: normal 14px/20px arial,sans-serif;
    display: table;
}
#confirmmsg span{
    vertical-align: middle;
    display: table-cell;
}
