.select-ethernet{
    width: 200px;
    font: normal 12px/18px arial,sans-serif;
}
.input-text{
    width: 170px;
    margin: 0 10px 0 0;
    padding: 0 0 0 3px;
    font: normal 13px/18px arial,sans-serif;
}
.error-tips{
    color: red;
}