.select-mode{
    width: 200px;
}

.goto-btn{
    min-width: 100px;
    width: auto !important;
    padding: 0 5px 0 5px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    cursor: pointer;
    font: normal 12px/18px arial,sans-serif;
}