.tips{
    margin: 0 0 10px 0;
    font: normal 14px/20px arial, sans-serif;
}
.select-macfilter{
    width: 173px;
    height: 21px;
    font: normal 12px/18px arial,sans-serif;
}
#macfiltertype input{
    float: left;
    margin: 0 5px 0 0;
}
#macfiltertype span{
    float: left;
    margin: 0 15px 0 0;
}
.macfilter-btn{
    float: right;
    min-width: 40px;
    width: auto !important;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    cursor: pointer;

}
#macfilterlist input{
    font: normal 13px/20px Arial, sans-serif;
}
#macfilterlist th{
    background-color: #55BBFF;
}
.option-btn{
    float: left;
    margin: 0 0 0 10px;
    color: #12a5d6;
    text-decoration: underline;
    cursor: pointer;
}
.width180{
    width: 180px;
}
.width100{
    width: 100px;
}
.ipfilterlistadd-btn{
    min-width: 70px;
    width: auto !important;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 10px 0 0 0;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    background-image:-moz-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-webkit-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-o-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    background-image:-ms-linear-gradient(#F6FCFF 0%,#ACDDFA 50%,#88D6FA 55%,#7FD6FC 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC' );
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(0,startColorstr='#F6FCFF', endColorstr='#65CAFC')";
    cursor: pointer;
    font: bold 13px/25px Arial, sans-serif;
}
.oddtr{
    background-color: #eaeaea;
}
.eventr{
    background-color: #cceeff;
}