#datasettings input{
    float: left;
}
#datasettings span{
    float: left;
    margin: 0 10px 0 3px;
}
#roamingsettings input{
    float: left;
}
#roamingsettings span{
    float: left;
    margin: 0 10px 0 3px;
}

.tdwidth210 {
    width: 210px;
}