#lowpsdstrength{
    vertical-align: middle;
}
.lowpsdstrength-remind{
    width: 240px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}
#psdstrength-low, #psdstrength-mid, #psdstrength-high{
    float: left;
    width: 57px;
    height: 14px;
    text-align: center;
    border-right: 1px solid #fff;
}
.psdlowcolor{
    background: red;
}
.psdmidcolor{
    background: orange;
}
.psdhighcolor{
    background: green;
}
.psdnormalcolor{
    background: #d2d2d2;
}
.errortips{
    color: red;
}