.network-select{
    width: 100px;
}
.networktips{
    color: red;
}
.tdwidth40{
    width: 40px;
}
.tdwidth80{
    width: 80px;
}
.tdwidth120{
    width: 120px;
}
.tdwidth60{
    width: 60px;
}
.tdwidth100{
    width: 100px;
}
#networkform td{
    text-align: center;
    font: 12px/30px arial, sans-serif;
}

#networkform{
    min-height: 100px;
    margin: 40px 50px 30px 50px;
}

#networkform th{
    background-color: #55BBFF;
    text-align: center;
    font: bold 14px/30px arial,sans-serif;
}
.oddtr{
    background-color: #fafafa;
}
.eventr{
    background-color: #cceeff;
}