.select-profile{
    width: 200px;
}
#profile-settings input{
    width: 196px;
}
.tdwidth120{
    width: 120px;
    height: 32px;
}
.newprofileinput{
    width: 180px;
    height: 18px;
}
.newprofileselect{
    width: 184px;
    height: 22px;
}
#newprofiledialog{
    min-width: 400px;
    width: auto !important;
    padding: 30px 30px 20px 60px;
}
#newprofiledialog table{
    font: normal 12px arial,sans-serif;
}