#wifistationon, #wifistationoff{
    float: left;
}
table span{
    float: left;
    margin: 0 10px 0 3px;
}
.selector-wifimode{
    width: 173px;
    height: 21px;
    font: normal 12px/18px arial,sans-serif;
}
#wifistationlist{
    width: 600px;
    min-height: 100px;
    margin: 30px 30px 0 30px;
}

#wifistationlist th{
    width: 100px;
    height: 30px;
    background-color: #55BBFF;
}
.oddtr{
    background-color: #fafafa;
}
.eventr{
    background-color: #cceeff;
}
#wifistationlist td{
    width: 100px;
    height: 30px;
    text-align: center;
}
.psdbox{
    width: 80px;
}
.psdbox.error{
    border: 1px solid #ff0000;
}
.connect-btn{
    min-width: 40px;
    width: auto !important;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    cursor: pointer;
    font: normal 12px/18px arial,sans-serif;
}