.tips{
    margin: 0 0 10px 0;
    font: normal 14px/20px arial, sans-serif;
}
.select-macfilter{
    width: 173px;
    height: 21px;
    font: normal 12px/18px arial,sans-serif;
}
.macfilter-btn{
    float: right;
    min-width: 40px;
    width: auto !important;
    padding: 0 5px 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid #55BBFF;
    border-radius: 2px;
    cursor: pointer;

}
#macaddrbody input{
    font: normal 13px/20px Arial, sans-serif;
}