#wpsstatus {
    margin: 0 0 10px 0;
}
#wpsstatus input{
    float: left;
}
#wpsstatus span{
    float: left;
    margin: 0 10px 0 3px;
}
#appin input{
    float: left;
}
#appin span{
    float: left;
    margin: 0 10px 0 3px;
}
#pbcpin input{
    float: left;
}
#pbcpin span{
    float: left;
    margin: 0 10px 0 3px;
}